@*******************************************************************************************************
//  CycleDataSOEPointView.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may
//  not use this file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  04/21/2016 - Stephen Wills
//       Generated original version of source code.
//
//*****************************************************************************************************@
@using System.Collections.Specialized
@using GSF
@using GSF.Data.Model
@using GSF.Web.Model
@using SOETools.Model
@model SOETools.Model.AppModel
@{
    DataContext dataContext = Model.DbDataContext;
    NameValueCollection parameters = Request.QueryString;
    int IncidentID = int.Parse(parameters["IncidentID"] ?? "0");
    string statusImagePath = Model.GetPageSetting(ViewBag, "statusImagePath", ViewBag.UserSetting);
    statusImagePath = Url.Content(statusImagePath).EnsureEnd('/');
    string pointCodeImagePath = Model.GetPageSetting(ViewBag, "pointCodeImagePath", "~/Images/PointCode/");
    pointCodeImagePath = Url.Content(pointCodeImagePath).EnsureEnd('/');
}

<div id="soepointTable"></div>

@section Scripts {

    <script type="text/javascript">
        $(function() {
            $(window).on("hubConnected", function() {
                var myWindow;
                dataHub.queryCycleDataSOEPointViewItems(@IncidentID, "StartTime", true, 1, 100).done(function(records) {
                    $('#soepointTable').puidatatable({
                        columns: [
                            { field: 'Name', bodyStyle: 'text-align: center', headerText: 'Meter Name' },
                            { field: 'Timestamp', bodyStyle: 'text-align: center', headerText: 'Data/Time', content: function(data) { return data.Timestamp.formatDate(DateTimeFormat); } },
                            { field: 'Phasing', bodyStyle: 'text-align: center', headerText: 'Phasing' },
                            { field: 'Upstate', bodyStyle: 'text-align: center', headerText: 'Upstate', content: function(data) { return '<img src="@statusImagePath' + data.UpState + '.png" />'; } },
                            { field: 'PointCode', bodyStyle: 'text-align: center', headerText: 'Device State', content: function(data) { return '<img src="@pointCodeImagePath' + data.PointCode + '.png" />'; } },
                            { field: 'DownState', bodyStyle: 'text-align: center', headerText: 'Downstate', content: function(data) { return '<img src="@statusImagePath' + data.DownState + '.png" />'; } },
                            { field: 'Imax', bodyStyle: 'text-align: center', headerText: 'Imax', content: function(data) { return data.Imax.toFixed(0); } },
                            { field: 'Vmin', bodyStyle: 'text-align: center', headerText: 'Vmin', content: function(data) { return data.Vmin.toFixed(0); } }
                        ],
                        datasource: records,
                        selectionMode: 'single',
                        rowSelect: function(event, data) {
                           myWindow = window.open("@Url.Content("~/Main/OpenSee/")" + data.EventID, "myWindow", "width=auto,height=auto");
                        },
                        rowUnselect: function(event, data) {
                            myWindow.close();
                        }
                    });
                });

            });

        });
    </script>
}