@*******************************************************************************************************
    //  CycleDataSOEPointView.cshtml - Gbtc
    //
    //  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
    //
    //  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
    //  the NOTICE file distributed with this work for additional information regarding copyright ownership.
    //  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may
    //  not use this file except in compliance with the License. You may obtain a copy of the License at:
    //
    //      http://opensource.org/licenses/MIT
    //
    //  Unless agreed to in writing, the subject software distributed under the License is distributed on an
    //  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
    //  License for the specific language governing permissions and limitations.
    //
    //  Code Modification History:
    //  ----------------------------------------------------------------------------------------------------
    //  04/21/2016 - Stephen Wills
    //       Generated original version of source code.
    //
    //*****************************************************************************************************@
@using System.Collections.Specialized
@using GSF
@using GSF.Data.Model
@using GSF.Web.Model
@using SOETools.Model
@model SOETools.Model.AppModel
@{
    DataContext dataContext = Model.DbDataContext;
}
<div id="incidentTable"></div>

<div id="openSOEDialog" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <iframe style="border: none" id="openSOEFrame"></iframe>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>

        $(function() {
            $(window).on("hubConnected", function() {
                var myWindow;
                dataHub.queryIncidentEventCycleDataViewItems("StartTime").done(function(records) {
                    $('#incidentTable').puidatatable({
                        paginator: {
                          rows: 15  
                        },
                        columns: [
                            { field: 'StartTime', bodyStyle: 'text-align: center', headerText: 'Date/Time', content: function (data) { return data.StartTime.formatDate(DateTimeFormat); } },
                            { field: 'Device', bodyStyle: 'text-align: center', headerText: 'Meter Name' },
                            { field: 'FaultType', bodyStyle: 'text-align: center', headerText: 'Fault Type' },
                            { field: 'PhaseA', bodyStyle: 'text-align: center', headerText: 'Phase A', content: function(data) { return data.PhaseA.toFixed(0); } },
                            { field: 'PhaseB', bodyStyle: 'text-align: center', headerText: 'Phase B', content: function(data) { return data.PhaseB.toFixed(0); } },
                            { field: 'PhaseC', bodyStyle: 'text-align: center', headerText: 'Phase C', content: function(data) { return data.PhaseC.toFixed(0); } },
                            { field: 'Ground', bodyStyle: 'text-align: center', headerText: 'Ground', content: function(data) { return data.Ground.toFixed(0); } },
                            { field: 'Duration', bodyStyle: 'text-align: center', headerText: 'Duration', content: function (data) { return (data.Duration/1000*60).toFixed(1); } },
                            { headerText: 'SOE Data', bodyStyle: 'text-align: center', content: function(data) {
                                return '<button type="button" class="btn btn-danger" onclick="openSOEModal('+ data.ID + ')">A</button><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><button type="button" class="btn btn-danger" data-bind="">W</button>'
                            }}
                        ],
                        datasource: records,
                        selectionMode: 'single',
                        rowSelect: function(event, data) {
                            @*myWindow = window.open("@Url.Content("~/Main/OpenSee/")" + data.EventID, "myWindow", "width=auto,height=auto");*@
                        },
                        rowUnselect: function(event, data) {
                            //myWindow.close();
                        }
                    });
                });

            });

        });
      
        function openSOEModal(record) {
            $("#openSOEFrame").attr({
                "src": "@Url.Content("~/Main/CycleDataSOEPointView/?IncidentID=")" + record,
                "height": ($(window).height() - 250) + "px",
                "width": "100%"
        });


        $("#openSOEDialog").modal("show");
        }
    </script>
}